.cooking-main-container {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2.8vw);
}

.cooking-main-content-box {
  width: 100%;
  /* height: calc(100% - 7.5vw); */
  flex-grow: 1;
  padding: 0 1.5vw;
  overflow-y: scroll;
}
.cooking-main-content-box::-webkit-scrollbar {
  display: none;
}

.cooking-main-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5vw;
}

.cooking-main-button {
  width: 47%;
  height: 7.2vw;
  border-radius: 1vw;
  cursor: pointer;
  background-size: cover;
}

.cooking-main-button-text {
  line-height: 7.2vw;
  text-align: center;
  color: white;
  border-radius: 1vw;
  /* backdrop-filter: contrast(30%); */
  backdrop-filter: brightness(55%) contrast(65%);
}

.thumbnail-list {
  background-image: url('/images/cooking/thumbnail/thumbnail_list.svg');
}

.thumbnail-create {
  background-image: url('/images/cooking/thumbnail/thumbnail_create.svg');
}
