:root {
  --screen-width: 30.2%;
  --screen-height: 95.4%;

  --primary-color: #fe9738;
  --screen-background-color: #ddd8d0;
  --cooking-background-colr: #f6f1ec;
  --widget-background-color: #f2f1ee;
  --recipe-history-box-background-color: #f6f1ec;
  --user-chat-color: #fe9838c2;
  --reply-chat-color: #ffb638b9;
  --background-filter-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(128, 128, 128, 1) 51%,
    rgba(245, 245, 245, 1) 100%
  );
  --box-border: 0.05vw solid rgba(0, 0, 0, 0.158);

  --red: #f24405;
  --blue: #0524f2;
  --green: #66f205;
  --white: #fcfcfc;
  --grey: #dbdbdb;
  --dark-grey: #aca9a9;

  --application-icon-size: 3vw;
  --application-width: 5vw;
  --application-height: 4vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SamsungOne';
  user-select: none;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sans {
  font-family: 'SamsungSharpSans';
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOneKorean-200.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOneKorean-300.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOneKorean-400.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOneKorean-500.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOneKorean-600.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOneKorean-700.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url('/fonts/samsungsharpsans.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url('/fonts/samsungsharpsans-medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url('/fonts/samsungsharpsans-bold.otf') format('opentype');
  font-weight: 700;
}
.f-0 {
  font-size: 0.8vw;
}

.f-1 {
  font-size: 1vw;
}

.f-2 {
  font-size: 1.2vw;
}

.f-3 {
  font-size: 1.4vw;
}

.f-4 {
  font-size: 1.7vw;
}

.f-5 {
  font-size: 2vw;
}

.o-3 {
  opacity: 0.3;
}

.o-5 {
  opacity: 0.5;
}

.o-7 {
  opacity: 0.7;
}

.o-9 {
  opacity: 0.9;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.regular {
  font-weight: 400;
}

.mt-0 {
  margin-top: 0.2vw;
}

.c-p {
  color: var(--primary-color);
}

.c-b {
  color: black;
}

.link {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-thumb {
  background-color: #fe9838a1;
  border-radius: 0.35vw;
  margin-right: 0.2vw;

  background-clip: padding-box;
  border: 0.2vw solid transparent;
}
