.applications-box {
  display: flex;
  width: 100%;
  margin-top: 1vw;
  height: var(--application-height);
}
.application-wrapper {
  width: var(--application-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.applications-icon {
  width: var(--application-icon-size);
  margin-bottom: 0.3vw;
  cursor: pointer;
}

.applications-name {
  font-size: 0.7vw;
  font-weight: 600;
  cursor: pointer;
}
