.footer-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 0;
}

.footer-icon-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1vw 3vw;
  opacity: 0.8;
}

.footer-icon {
  height: 0.8vw;
  cursor: pointer;
}

.menu-icon {
  height: 0.4vw;
  position: absolute;
  right: 1vw;
  bottom: calc(50% - 0.3vw);
}
