.widget-container {
  position: relative;
  width: 100%;
  padding: 1vw;
  background-color: var(--widget-background-color);
  overflow: hidden;
  border-radius: 0.1vw;
  flex-grow: 1;
}

.widget-title {
  display: block;
  margin-bottom: 0.75vw;
}

.widget-card {
  border-radius: 1vw;
  background-color: white;
  margin: 0.5vw 0;
}

.widget-navbar {
  position: absolute;
  width: calc(100% - 2vw);
  padding: 1vw;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--widget-background-color);
}

.widget-navbar div {
  font-size: 0.85vw;
  padding: 0 0.2vw;
  font-family: 'SamsungOne';
}

.widget-selected-menu {
  font-weight: 700;
  border-bottom: 0.15vw solid black;
}

.applications-box {
  display: flex;
  flex-direction: row;
}
